<template>
    <div class="modal about-modal"
        :class="isActive? 'is-active' : ''">
        <div class="modal-background" @click="closeAbout()"></div>
        <div class="modal-card">
            <header class="modal-card-head">
                <p class="modal-card-title">Info</p>
                <button class="delete" aria-label="close" @click.prevent="closeAbout()"></button>
            </header>
            <section class="modal-card-body">
                <div class="content">
                    <p>Questa pagina contiene una lista di servizi gratuiti di supporto psicologico
                        che sono attivi sul territorio italiano a fronte dell'emergenza di pandemia da virus Covid-19.</p>
                    <p>È un progetto open source moderato dagli sviluppatori: la moderazione è necessaria per evitare che
                        siano inserite informazioni fuorvianti, oppure orientate alla promozione di situazioni opache e/o poco gradite a me.</p>
                    <p>Le Informazioni sono state raccolte da fonti eterogenee e probabilmente sono incomplete o inesatte. Per contribuire alla lista puoi:</p>
                    <ul>
                        <li>scrivere a <a href="https://twitter.com/xho" target="_blank" title="vai al profilo su twitter">@xho</a> o <a href="https://twitter.com/batopa" target="_blank" title="vai al profilo su twitter">@batopa</a> su Twitter;</li>
                        <li>fare una segnalazione tramite l'<a href="https://gitlab.com/xho/supporto-psicologico-covid-19/-/issues" target="_blank">apertura di una issue su Gitlab</a>;</li>
                        <li>da sviluppatore, sottoporre al <a href="https://gitlab.com/xho/supporto-psicologico-covid-19" target="_blank">progetto su Gitlab</a> una <span class="is-italic">Merge Request</span>.</li>
                    </ul>
                    <p class="help">
                        __<br>
                        State bene,<br>
                        Christo e Bato
                    </p>
                    <hr>
                    <p>Grazie agli altri sviluppatori che stanno contribuendo al progetto: Nicolò Carpignoli, Paolo Cuffiani, Stefano Rosanelli, Dante Di Domenico.</p>
                </div>
            </section>
            <footer class="modal-card-foot">
                <button class="button" @click.prevent="closeAbout()">Close</button>
            </footer>
        </div>
    </div>
</template>

<script>
export default {
    props: {
        isActive: {
            type: Boolean,
            default: false,
        }
    },
    data() {
        return {};
    },
    methods: {
        closeAbout() {
            this.$emit('closeAbout', true);
        }
    }
};
</script>

<style>
    .about-modal .modal-card {
        max-width: calc(100% - 4rem);
    }
</style>
