<template>
    <div class="card-container">
        <div class="card">
            <div class="card-image" aria-hidden="true">
                <figure class="image is-2by1">
                    <img src="~assets/images/image-not-available.png" alt="Placeholder image">
                    <div class="backgroun-image"
                        :style="`background-image: url(${backgroundUrl})`"
                        @click.prevent="showImage($event)"
                        v-show="backgroundUrl"></div>
                </figure>
            </div>

            <header class="card-header">
                <p class="card-header-title">{{ item.title }}</p>
            </header>

            <div class="card-content">
                <div class="content">
                    <div class="body" v-html="item.note"></div>
                    <table class="table is-hoverable">
                        <tbody>
                            <tr v-if="item.tel">
                                <td class="is-narrow">telefono <span v-if="item.tel2">1</span>:</td>
                                <td><a :href="`tel:${item.tel}`">{{ item.tel }}</a></td>
                            </tr>
                            <tr v-if="item.tel2">
                                <td class="is-narrow">telefono 2:</td>
                                <td><a :href="`tel:${item.tel2}`">{{ item.tel2 }}</a></td>
                            </tr>
                            <tr v-if="item.tel3">
                                <td class="is-narrow">telefono 3:</td>
                                <td><a :href="`tel:${item.tel3}`">{{ item.tel3 }}</a></td>
                            </tr>
                            <tr v-if="item.sms">
                                <td class="is-narrow">SMS:</td>
                                <td><a :href="`sms:${item.tel3}`">{{ item.sms }}</a></td>
                            </tr>
                            <tr v-if="item.whatsapp">
                                <td class="is-narrow">whatsapp:</td>
                                <td>{{ item.whatsapp }}</td>
                            </tr>
                            <tr v-if="item.telegram">
                                <td class="is-narrow">telegram:</td>
                                <td>{{ item.telegram }}</td>
                            </tr>
                            <tr v-if="item.skype">
                                <td class="is-narrow">skype:</td>
                                <td>{{ item.skype }}</td>
                            </tr>
                            <tr v-if="item.twitter">
                                <td class="is-narrow">twitter:</td>
                                <td><a :href="`https://twitter.com/${item.twitter}`" target="_blank">{{ item.twitter }}</a></td>
                            </tr>
                            <tr v-if="item.email">
                                <td class="is-narrow">email:</td>
                                <td><a :href="`mailto:${item.email}`">{{ item.email }}</a></td>
                            </tr>
                            <tr v-if="item.www">
                                <td class="is-narrow">web:</td>
                                <td><a :href="item.www" target="_blank">{{ item.www }}</a></td>
                            </tr>
                            <tr>
                                <td class="is-narrow">orari:</td>
                                <td><span>{{ item.time || '-' }}</span></td>
                            </tr>
                            <tr v-if="item.location">
                                <td class="is-narrow">luogo:</td>
                                <td>{{ item.location }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <footer class="card-footer">
                <a :href="`tel:${item.tel}`" class="card-footer-item" v-if="item.tel"><i class="las la-phone is-size-5"></i> Chiama</a>
                <a :href="`mailto:${item.email}`" class="card-footer-item" v-if="item.email"><i class="las la-envelope is-size-5"></i> Email</a>
                <a :href="item.www" class="card-footer-item" v-if="item.www" target="_blank"><i class="las la-globe is-size-5"></i> Web</a>
            </footer>
        </div>
    </div>
</template>

<script>
import Card from "~/components/Card.vue";

export default {
    props: {
        item: {
        type: Object,
        default: {},
        }
    },
    computed: {
        backgroundUrl() {
            if(!(this.item && this.item.id)) {
                return '';
            }

            try {
                const img = require(`../assets/images/service-${this.item.id}.png`);
                return img;
            }
            catch(e) {
                return '';
            }
        },
    },
    methods: {
        showImage(e) {
            const url = e.target.style.backgroundImage.slice(4, -1).replace(/"/g, "");
            url && this.$emit('showImage', url);
        },
    },
};
</script>


<style lang="scss">
    :root {
        counter-reset: cards;
    }

    .card-container {
        height: 100%;
        padding-bottom: 4rem;
    }

    .card {
        height: 100%;
        display: flex;
        flex-direction: column;
        box-shadow: 0 0.5em 1em -0.125em rgba(10,10,10,.3), 0 0 0 1px rgba(10,10,10,.05);

        .card-header {
            min-height: 80px;
            background-color: #343a40;
            color: #fff;

            .card-header-title {
                padding: 1rem 1.5rem;
                color: #fff;
                font-weight: 300;
                letter-spacing: .5px;
            }

            .card-header-title:before {
                counter-increment: cards;
                content: counter(cards) ". \00A0";
            }
        }

        .card-image {
            figure {
                position: relative;
                .backgroun-image {
                    position: absolute;
                    top: 0; left: 0;
                    width: 100%;
                    height: 100%;
                    background: transparent url('~assets/images/service-22.png') center top no-repeat;
                    background-size: cover;
                    cursor: pointer;
                }
            }
        }

        .card-content {
            flex-grow: 1;
        }

        .body {
            margin-bottom: 2rem;
        }

        table {
            tr:last-child {
                td {
                    border: none;
                }
            }
            td:first-child {
                white-space: nowrap;
            }
            td:last-child {
                word-break: break-all;
            }
            a:hover {
                color: hsl(204, 86%, 53%);
                text-decoration: underline;
            }
        }

        a.card-footer-item {
            background-color: #027cbf;
            color: white;
            &:hover {
                background-color: hsl(204, 86%, 53%);
                color: white;
            }
        }
    }
</style>
