<template>
    <div class="modal image-modal"
        :class="isActive? 'is-active' : ''">
        <div class="modal-background" @click="closeImage()"></div>
        <div class="modal-content">
            <p class="image">
                <img :src="imageUrl" alt="">
            </p>
        </div>
        <button class="modal-close is-large" aria-label="close" @click="closeImage()"></button>
    </div>
</template>

<script>
export default {
    props: {
        isActive: {
            type: Boolean,
            default: false,
        },
        imageUrl: {
            type: String,
            default: '',
        }
    },
    data() {
        return {};
    },
    methods: {
        closeImage() {
            this.$emit('closeImage', true);
        }
    }
};
</script>

<style lang="scss">
.image-modal {
    .modal-content {
        width: auto;
        overflow: hidden;
        .image {
        padding: 1rem;
            display: flex;
            justify-content: center;
            img {
                max-height: calc(100vh - 4rem);
                width: auto;
            }
        }
    }
    button.modal-close {
        background-color: rgba(10,10,10,.7);
    }
}
</style>
