<template>
<header>
    <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item" href="#" @click.prevent="reload()">
                <img class="rotating" src="~static/icon.svg">
            </a>
        </div>

        <div class="navbar-menu">
            <div class="navbar-start"></div>

            <div class="navbar-end">
                <a class="navbar-item" @click.prevent="showAbout()">
                    <i class="las la-info-circle is-size-5"></i> Info
                </a>

                <a class="navbar-item" href="https://gitlab.com/xho/supporto-psicologico-covid-19" target="_blank">
                    <i class="lab la-gitlab is-size-5"></i> Gitlab
                </a>
            </div>
        </div>
    </nav>
</header>
</template>

<script>
export default {
    methods: {
        showAbout() {
            this.$emit('showAbout', true);
        },
        reload() {
            window.location.reload();
        }
    }
}
</script>

<style scoped lang="scss">
.navbar {
    background: transparent;
    display: flex;
    align-items: stretch;
    padding: 1rem 0;
    @media screen and (min-width: 769px), print {
        padding: 1rem;
    }
    box-shadow: 0 0 6px rgba(0,0,0,.5);

    .navbar-item {
        display: flex;
        align-items: center;
        img {
            width: 2rem;
            max-height: 2rem;
        }
    }
}

.navbar-menu {
    display: flex;
    flex-grow: 1;
    flex-shrink: 0;
    background-color: transparent;
    box-shadow: none;
    padding: 0;
    justify-content: flex-end;
    align-items: stretch;
    .navbar-end {
        align-items: stretch;
        display: flex;
    }
}

@keyframes rotating {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(-60deg);
    }
    75% {
        transform: rotate(60deg);
    }
    0% {
        transform: rotate(0deg);
    }
}

.rotating:hover {
    animation: rotating 4s linear infinite;
}
</style>
