<template>
  <section class="main-container">
    <Navbar @showAbout="onShowAbout" />

    <div class="message is-info moved-warning" v-show="isObsoleteURL">
        <div class="message-header">
            <p>Attenzione, questo sito ha un nuovo indirizzo con una lista AGGIORNATA:<br>
            <a href ="https://psicovid19.bedita.net">psicovid19.bedita.net</a>
            </p>
        </div>
    </div>

    <article>
        <header class="site-title">
            <h1 class="title is-uppercase has-text-weight-light">Supporto psicologico <span class="nowrap">Covid-19</span></h1>
            <h2 class="subtitle" >Una lista di servizi <span class="is-bold">gratuiti</span> raggiungibili online o via telefono in Italia</h2>
            <p class="help">Ultimo aggiornamento: 27 marzo 2020</p>
        </header>

        <main>
            <List :list="list" @showImage="onShowImage" />
        </main>

        <div class="message is-info">
            <div class="message-body">
                <p>Se desideri aggiungere un servizio alla lista, segnalare un problema, contribuire o inviare dei suggerimenti, consulta le istruzioni in <a href="#" @click.prevent="onShowAbout()">Info</a></p>
            </div>
        </div>
    </article>

    <Footer />

    <AboutModal :isActive="isAboutActive" @closeAbout="onCloseAbout" />
    <ImageModal :isActive="isImageActive" :imageUrl="currentImageUrl" @closeImage="onCloseImage" />
  </section>
</template>

<script>
/* eslint-disable */
import axios from "axios";
import Navbar from "~/components/Navbar.vue";
import Footer from "~/components/Footer.vue";
import List from "~/components/List.vue";
import AboutModal from "~/components/AboutModal.vue";
import ImageModal from "~/components/ImageModal.vue";

const BASEURL = process.env.NODE_ENV === "production" ? "https://xho.gitlab.io/supporto-psicologico-covid-19" : "http://localhost:3000";

export default {
    data() {
        return {
            list: [],
            isAboutActive: false,
            isImageActive: false,
            currentImageUrl: '',
            isObsoleteURL: false,
        };
    },
    components: {
        Navbar,
        Footer,
        List,
        AboutModal,
        ImageModal,
    },
    mounted() {
        if (process.browser) {
            this.isObsoleteURL = window.location.host.split(':')[0] == 'xho.gitlab.io';
        }
    },
    methods: {
        onShowAbout(e) {
            this.isAboutActive = true;
        },
        onCloseAbout(e) {
            this.isAboutActive = false;
        },
        onShowImage(e) {
            this.currentImageUrl = e;
            this.isImageActive = true;
        },
        onCloseImage(e) {
            this.currentImageUrl= '';
            this.isImageActive = false;
        },
    },

    async asyncData({ req, isServer, params, store }) {
        return await axios.get(BASEURL + "/list.json").then(res => {
            let list = res.data;
            return { list: list };
        });
    }
};
</script>

<style lang="scss">
    @import "~/assets/style.scss";
    .site-title {
        h2.subtitle { margin-bottom: .5rem; }
        @media screen and (min-width: 1408px) {
            h1 { font-size: 2.5rem; }
            h2.subtitle { font-size: 1.5rem; }
        }
    }
    .message.moved-warning {
        margin-bottom: 0;
    }
</style>
